h3{color:#990055;text-align:center;}
h4{color:#590095;font-size:15pt;margin-left:30%}
h5{color:#146;font-size:14pt;margin-bottom:-10px;margin-left:5%}
caption{font-size:16px;color:maroon}
figcaption{text-align:center}
body{background-color:pink}
#maket{width:100%;}
TD{vertical-align:top;padding:5px;}
   TD#lev{width:550px;background:#fa1;}
   TD#prav{width:500px;background:#2f3;}
   TD#levcool{width:600px;background:#5a5}
   TD#pravcool{width:550px;background:#f93}
   TD#lpcool{width:50px;background:#ff0}
   TD#kr{width:10px;background:yellow}
i{color:#505;font-size:15px;margin-left:20px}
b{color:#0055ff;font-size:14pt;margin-left:15%}
a{font-size:14pt;color:#005555;margin-left:10%}
li{font-size:13pt;color:#550a0f;font-style:oblique;}
ol{font-size:14pt;color:#5500aa;}
ul{font-size:14pt;color:#a00}
hr{background-color:#ff0;border:none;height:1pt;}
p{margin-bottom:10px;margin-left:15%;font-size:16px;color:#333}
punkt{color:black}
audio{background-color:pink}
img{}
________________________________________________________________________
